{% extends 'base.html.twig' %}

{% block title %}Paintings - Painting
{% endblock %}

{% block body %}
    <div class="details-section bottom-line mb-2" id="">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-3 vh-md-100 mx-auto">
                    <aside class="flex-grow-1 mt-5 pt-3 py-md-10">
                        <div>
                            <h2>{{ painting.name }}</h2>
                            {% for category in painting.category %}
                                <span class="badge bg-secondary mb-2">{{ category.name }}</span>
                            {% endfor %}
                        </div>
                        <p class="fs-lg mb-7 text-muted">
                            {{ painting.description }}
                        </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h6 class="d-flex mb-0 text-uppercase">
                                    Date of achievement
                                    <span class="ms-auto">{{ painting.dateRealisation|date('d/m/Y') }}</span>
                                </h6>
                            </li>
                            <li class="list-group-item">
                                <h6 class="d-flex mb-0 text-uppercase">
                                    Length
                                    <span class="ms-auto">{{ painting.length }} Cm</span>
                                </h6>
                            </li>
                            <li class="list-group-item">
                                <h6 class="d-flex mb-0 text-uppercase">
                                    Height
                                    <span class="ms-auto">{{ painting.height }} Cm</span>
                                </h6>
                            </li>
                            {% if painting.onSale %}
                                <li class="list-group-item">
                                    <h6 class="d-flex mb-0 text-uppercase">
                                        <strong>Disponible à la vente</strong>
                                        <span class="ms-auto"><strong>{{ painting.price }} $</strong></span> 
                                    </h6>
                                </li>
                            {% endif %}
                        </ul>
                    </aside>
                </div>
                <div class="col-12 col-md-8">
                    <section class="px-2">
                        <img class="w-100 h-auto" src="{{ vich_uploader_asset(painting, 'imageFile')|imagine_filter('full') }}" alt="img">
                    </section>
                </div>
            </div>
        </div>
        {% include "comment/form.html.twig" %}
        {% include "comment/comments.html.twig" %}    
    </div>
{% endblock %}